.studyWrapper {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5em;
    flex: 3;
}

.wrapperQA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: normal;
}

.containerQA {
    background: #4ABDAC;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 40vh;
    width: 90%;
}

.cardContent {
    font-size: 1.5em;
}

.answerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    margin-top: 5px;
}

.answerInput {
    font-weight: 600;
    padding: 5px;
    width: 82vw;
    font-size: 1em;
}

.checkWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.checkButt {
    cursor: pointer;
    background-image: linear-gradient(to right, #F7B733 50.1%, white 50%);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: #F7B733;
    border: solid 3.5px #F7B733;
    font-weight: 500;
    font-size: 1.3em;
}

.checkButt:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    transform: translateY(2px);
    color: white;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    background-position: bottom left;
}

.nextBackWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nextButt,
.backButt {
    cursor: pointer;
    text-align: center;
    background: none;
    border: none;
    margin-top: 30px;
    color: #4ABDAC;
    height: auto;
    width: auto;
    transition-duration: .2s;
    font-size: 5em;
}

.nextButt:hover,
.backButt:hover {
    cursor: pointer;
    color: #FC4A1A;
}

.nextButt:focus,
.backButt:focus {
    outline: none;
}

/* Large Mobile / Portrait Tablet */

@media only screen and (min-width: 600px) {
    .studyWrapper {
        padding: 2em;
    }
    .containerQA {
        height: 35vh;
    }
    .answerInput {
        font-size: 1.2em;
    }
    .checkButt {
        font-size: 1.5em;
    }
    .nextButt,
    .backButt {
        margin-top: 25px;
        font-size: 6.5em;
    }
}

/* Tablet */

@media only screen and (min-width: 768px) {
    .studyWrapper {
        padding-left: 3em;
        padding-right: 3em;
    }
    .containerQA {
        height: 35vh;
    }
    .answerInput {
        font-size: 1.2em;
    }
    .checkButt {
        font-size: 1.5em;
    }
    .nextButt,
    .backButt {
        margin-top: 25px;
        padding-left: .3em;
        padding-right: .3em;
        font-size: 6.5em;
    }
}

/* Laptop/Desktop */

@media only screen and (min-width: 992px) {}

/* Large Desktop */

@media only screen and (min-width: 1200px) {
    .studyWrapper {
        padding: 2em;
    }
    .containerQA {
        height: 35vh;
        width: 75%;
    }
    .answerForm {
        width: 75%;
    }
    .answerInput {
        font-size: 1.2em;
    }
    .checkButt {
        font-size: 1.5em;
    }
    .nextButt,
    .backButt {
        margin-top: 25px;
        padding-left: 1.3em;
        padding-right: 1.3em;
        font-size: 6.5em;
    }
}

/* Extra Large Desktop */

@media only screen and (min-width: 1500px) {
    .studyWrapper {
        padding: 2em;
    }
    .containerQA {
        height: 35vh;
        width: 75%;
    }
    .answerForm {
        width: 75%;
    }
    .answerInput {
        font-size: 1.2em;
    }
    .checkButt {
        font-size: 1.5em;
    }
    .nextButt,
    .backButt {
        margin-top: 25px;
        padding-left: 1.8em;
        padding-right: 1.8em;
        font-size: 6.5em;
    }
}