.studyWrapper {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5vw;
    flex: 3.5;
}

.wrapperQA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerQ {
    background: #4ABDAC;
    color: white;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    min-height: 100px;
    height: 30vh;
    width: 80vw;
    font-size: 5.5vh;
    font-size: 6vw;
}

.correctAnswer {
    margin-top: 10px;
    padding: 10px;
    color: rgb(14, 107, 14);
    font-size: 5vw;
    font-weight: 900;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    font-size: 5vw;
}

.answerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    padding: 10px;
}

.answerInput {
    font-weight: 600;
    background: white;
    padding: 10px;
    padding-top: 3vw;
    padding-bottom: 3vw;
    width: 80vw;
    font-size: 4.5vw;
}

.checkWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3vw;
    padding-bottom: 3vw;
    margin-top: 10px;
}

.checkButt {
    cursor: pointer;
    background-image: linear-gradient(to right, #F7B733 50.1%, white 50%);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: #F7B733;
    border: solid 3.5px #F7B733;
    font-weight: 500;
    font-size: 4.5vw;
}

.checkButt:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    transform: translateY(2px);
    color: white;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    background-position: bottom left;
}

.nextBackWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5vw;
    padding-left: 5vw;
}

.nextButt,
.backButt {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    text-align: center;
    background: none;
    border: none;
    margin-bottom: 20px;
    color: #4ABDAC;
    height: auto;
    width: auto;
    transition-duration: .5s;
    font-size: 22vw;
}

.nextButt:hover,
.backButt:hover {
    cursor: pointer;
    color: #FC4A1A;
    font-weight: 700;
}

/* Large Mobile / Portrait Tablet */

@media only screen and (min-width: 600px) {
    .containerQ {
        height: 20vh;
        font-size: 4vh;
        font-size: 4vw;
    }
    .answerForm {
        padding: 10px;
    }
    .answerInput {
        font-size: 3.4vw;
    }
    .checkButt {
        font-size: 3.5vw;
    }
    .nextButt,
    .backButt {
        font-size: 20vw;
    }
}

/* Tablet */

@media only screen and (min-width: 768px) {
    .wrapperQA {
        padding-bottom: 20px;
        padding-top: 10px;
    }
    .containerQ {
        height: 20vh;
        font-size: 3.5vh;
        font-size: 3.5vw;
    }
    .answerForm {
        padding: 10px;
    }
    .answerInput {
        padding-top: 2.5vw;
        padding-bottom: 2.5vw;
        font-size: 3vw;
    }
    .checkWrapper {
        padding: 20px;
        margin-bottom: 10px;
    }
    .checkButt {
        font-size: 3vw;
    }
    .nextButt,
    .backButt {
        margin-left: 7vw;
        margin-right: 7vw;
        width: 7vw;
        font-size: 16vw;
    }
}

/* Laptop/Desktop */

@media only screen and (min-width: 992px) {
    .containerQ {
        height: 20vh;
        font-size: 2.5vh;
        font-size: 2.5vw;
    }
    .answerForm {
        padding: 10px;
        margin-bottom: 20px;
    }
    .answerInput {
        padding-top: 2vw;
        padding-bottom: 2vw;
        font-size: 3vw;
    }
    .checkWrapper {
        margin: 1.8vw;
    }
    .checkButt {
        font-size: 2.5vw;
    }
    .nextButt,
    .backButt {
        width: 6vw;
        font-size: 12vw;
    }
}

/* Large Desktop */

@media only screen and (min-width: 1200px) {
    .wrapperQA {
        padding-bottom: 20px;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .containerQ {
        height: 35vh;
        width: 50vw;
        padding: 10px;
        min-height: 125px;
        font-size: 2vh;
        font-size: 2.5vw;
    }
    .answerForm {
        padding: 20px;
        margin-bottom: 20px;
    }
    .answerInput {
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
        font-size: 2.2vw;
        width: 50vw;
    }
    .checkWrapper {
        padding: 10px;
        margin-bottom: 20px;
    }
    .checkButt {
        font-size: 1.5vw;
    }
    .nextBackWrapper {
        padding-right: 18vw;
        padding-left: 18vw;
    }
    .nextButt,
    .backButt {
        width: 4vw;
        font-size: 10vw;
    }
}

/* Extra Large Desktop */

@media only screen and (min-width: 1500px) {
    .wrapperQA {
        padding-bottom: 20px;
        padding-top: 30px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .containerQ {
        height: 35vh;
        font-size: 2vh;
        width: 50vw;
        font-size: 2vw;
        padding: 10px;
        min-height: 125px;
    }
    .answerForm {
        padding: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .answerInput {
        font-size: 2vw;
        width: 50vw;
    }
    .checkWrapper {
        padding: 10px;
    }
    .checkButt {
        font-size: 1.5vw;
    }
    .nextBackWrapper {
        padding-right: 17vw;
        padding-left: 17vw;
    }
    .nextButt,
    .backButt {
        width: 4vw;
        font-size: 8vw;
    }
}