* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Bree+Serif|Crete+Round:400,400i|Merriweather:300,300i,400,400i,700,700i,900,900i|Suez+One');
html,
body {
    position: relative;
}

.app-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #DFDCE3;
}

.headerWrapper {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
    background-image: url("https://i.imgur.com/7NqtBPI.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
}

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    padding: 5px;
}

.headerText {
    color: rgb(240, 232, 232);
    font-family: 'Bree Serif', serif;
    display: block;
    float: left;
}

.icon {
    display: block;
    float: right;
    overflow: auto;
    height: 40%;
    width: 40%;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.navWrapper {
    background: #FC4A1A;
}

.managerLink,
.homeLink {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: whitesmoke;
    font-size: 3.5vw;
}

.footerWrapper {
    display: flex;
    align-items: center;
    align-content: center;
    background: #FC4A1A;
    width: 100vw;
}

footer {
    color: whitesmoke;
    display: flex;
    align-items: center;
    bottom: 0;
    padding: 2.5vw;
    font-size: 2.8vw;
    flex: .1;
}

@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Didact+Gothic|Dosis:200,300,400,500,600,700,800|Jura:300,400,600,700|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Oxygen:300,400,700|Poiret+One|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Questrial|Quicksand:300,400,500,700|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Righteous|Work+Sans:100,200,300,400,500,600,700,800,900&subset=latin-ext');
/* ------------------------------------------------------------------------------------------ */

/* Small Mobile*/

@media only screen and (max-width: 600px) {
    .headerWrapper {
        min-height: 125px;
    }
    .headerContainer {
        flex-direction: column;
    }
    .headerText {
        font-size: 10vw;
        font-weight: 600;
    }
    .navWrapper {
        height: auto;
        padding: 8px;
    }

    .icon {
        height: 40%;
        width: 40%;
    }
    .homeLink,
    .managerLink, {
        font-size: 3.5vw;
    }
    footer {
        padding: 1.8vw;
        font-size: 3vw;
    }
}

/* Large Mobile / Portrait Tablet */

@media only screen and (min-width: 600px) {
    .headerWrapper {
        min-height: 175px;
    }
    .headerText {
        padding: 5px;
        font-size: 10vw;
        font-weight: 600;
        margin-top: 20px;
        padding-bottom: 30px;
    }
    .navWrapper {
        height: auto;
        padding: 8px;
    }
    .homeLink,
    .managerLink {
        font-size: 3.2vw;
    }
    footer {
        padding: 1.5vw;
        font-size: 2vw;
    }
}

/* Landscape Tablet */

@media only screen and (min-width: 768px) {
    .headerWrapper {
        min-height: 200px;
    }
    .headerText {
        padding: 5px;
        font-size: 8.5vw;
        font-weight: 600;
        margin-top: 20px;
        padding-bottom: 30px;
    }
    .icon {
        height: 30%;
        width: 30%;
    }
    .navWrapper {
        height: auto;
        padding: 8px;
    }
    .homeLink,
    .managerLink {
        font-size: 2.7vw;
    }
    footer {
        padding: 1.5vw;
        font-size: 2.2vw;
    }
}

/* Laptop/Desktop */

@media only screen and (min-width: 992px) {
    .headerWrapper {
        min-height: 225px;
    }
    .headerText {
        padding: 5px;
        font-size: 7.5vw;
        font-weight: 600;
        margin-top: 20px;
        padding-bottom: 30px;
    }
    .icon {
        height: 25%;
        width: 25%;
    }
    .navWrapper {
        height: auto;
        padding: 8px;
    }
    .homeLink,
    .managerLink {
        font-size: 2vw;
    }
    footer {
        padding: 1.8vw;
        font-size: 1.6vw;
    }
}

/* Large Desktop */

@media only screen and (min-width: 1200px) {
    .headerWrapper {
        min-height: 225px;
    }
    .headerText {
        padding: 5px;
        font-size: 6.5vw;
        font-weight: 600;
        margin-top: 20px;
        padding-bottom: 30px;
    }
    .icon {
        height: 20%;
        width: 20%;
    }
    .navWrapper {
        height: auto;
        padding: 8px;
    }
    .homeLink,
    .managerLink {
        font-size: 1.5vw;
    }
    footer {
        padding: 1vw;
        font-size: 1.2vw;
    }
}

/* Extra Large Desktop */

@media only screen and (min-width: 1500px) {
    .headerWrapper {
        min-height: 225px;
    }
    .headerText {
        padding: 5px;
        font-size: 6vw;
        font-weight: 600;
        margin-top: 20px;
        padding-bottom: 30px;
    }
    .navWrapper {
        height: auto;
        padding: 6px;
    }
    .icon {
        height: 14%;
        width: 14%;
    }
    .homeLink,
    .managerLink {
        font-size: 1.2vw;
    }
    footer {
        padding: 1vw;
        font-size: 1vw;
    }
}