.editWrapper {
    padding: 20px;
    padding-top: 10px;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    align-self: center;
    overflow: auto;
    flex: 3;
    width: 100vw;
}

.editForm,
.newCardForm {
    margin-bottom: 20px;
    font-size: 3vw;
}

.edittTitleWrapper,
.editQuestionWrapper,
.editAnswerWrapper {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    align-self: center;
}

.qAndAHeader,
.titleHeader {
    font-size: 3.5vw;
    color: #4ABDAC;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    font-size: 2.2vw;
    border-radius: 1px;
    border-radius: 2px;
    margin: 3px;
    padding: 5px;
    font-weight: 600;
    color: black;
    font-size: 1em;
}

input:focus {
    outline: none;
    border-color: #F7B733;
    box-shadow: 0 0 10px rgb(83, 63, 22);
}

::placeholder {
    font-weight: 600;
    color: dimgray;
}

.addNewCardButt:focus {
    outline: none;
    margin-bottom: 5px;
}

.addNewCardButt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    border: solid 2px #F7B733;
    font-weight: 600;
    color: #F7B733;
    background-image: linear-gradient(to right, #F7B733 50%, white 50%);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    text-align: center;
    width: 90vw;
    font-size: 1.2em;
}

.addNewCardButt:hover {
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    transform: translateY(2px);
    color: white;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    background-position: bottom left;
}

.saveButt,
.deleteButt,
.saveNewButt {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 2vw;
    background: #4ABDAC;
    color: whitesmoke;
}

.deleteButt:hover,
.saveButt:hover,
.saveNewButt:hover,
.saveNewCardButt:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    font-weight: 700;
}

.newCardWrapper {
    display: flex;
    flex: 1;
}

.newCardButt {
    cursor: pointer;
    display: flex;
    float: right;
    font-size: 3vw;
    background-image: url("https://i.imgur.com/RlCkjA8.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    width: 90vw;
}

.newCardButt:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    font-weight: 700;
    background-image: url("https://i.imgur.com/5ORKtAd.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Large Mobile / Portrait Tablet */

@media only screen and (min-width: 600px) {
    .editWrapper {
        padding: 20px;
        padding-top: 10px;
    }
    .editForm {
        margin-bottom: 20px;
        font-size: 3vw;
    }
    .fullEditForm {
        padding: 10px;
    }
    .qAndAHeader,
    .titleHeader {
        font-size: 3.5vw;
        padding: 10px;
    }
    input {
        width: 90vw;
        height: 4.5vw;
        min-height: 20px;
        font-size: 2.5vw;
        margin: 3px;
    }
    .addNewCardButt {
        width: 90vw;
    }
    .newCardButt {
        font-size: 2.8vw;
    }
    .saveButt,
    .deleteButt,
    .saveNewButt,
    .saveNewCardButt {
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 2.8vw;
    }
    .addNewCardButt {
        font-size: 2.8vw;
    }
    .newCardHeader {
        padding-bottom: 10px;
    }
}

/* Tablet */

@media only screen and (min-width: 768px) {
    .editWrapper {
        padding: 20px;
        padding-top: 10px;
    }
    .editForm {
        margin-bottom: 20px;
        font-size: 2w;
    }
    .fullEditForm {
        padding: 10px;
    }
    .qAndAHeader,
    .titleHeader {
        font-size: 2.5vw;
        padding: 10px;
    }
    input {
        width: 80vw;
        height: 3.5vw;
        min-height: 20px;
        font-size: 1.8vw;
        margin: 3px;
    }
    .addNewCardButt {
        width: 80vw;
        font-size: 3vw;
    }
    .newCardButt {
        font-size: 2.8vw;
    }
    .saveButt,
    .deleteButt,
    .saveNewButt,
    .saveNewCardButt,
    .addNewCardButt {
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 2vw;
    }
    .newCardHeader {
        padding-bottom: 10px;
        font-size: 2vw;
    }
}

/* Laptop/Desktop */

@media only screen and (min-width: 992px) {
    .editWrapper {
        padding: 20px;
        padding-top: 10px;
    }
    .editForm {
        margin-bottom: 20px;
        font-size: 1.5vw;
    }
    .fullEditForm {
        padding: 10px;
    }
    .qAndAHeader,
    .titleHeader {
        font-size: 2vw;
        padding: 10px;
    }
    input {
        width: 80vw;
        height: 2.5vw;
        min-height: 10px;
        font-size: 1.2vw;
        margin: 3px;
    }
    .addNewCardButt {
        width: 80vw;
    }
    .newCardButt {
        font-size: 2vw;
    }
    .saveButt,
    .deleteButt,
    .saveNewButt,
    .saveNewCardButt,
    .addNewCardButt {
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 1.3vw;
    }
    .newCardHeader {
        padding-bottom: 10px;
        font-size: 2vw;
    }
}

/* Large Desktop */

@media only screen and (min-width: 1200px) {
    .editWrapper {
        padding: 20px;
        padding-top: 10px;
    }
    .editForm {
        margin-bottom: 20px;
        font-size: 1vw;
    }
    .fullEditForm {
        padding: 10px;
    }
    .qAndAHeader,
    .titleHeader {
        font-size: 2vw;
        padding: 10px;
    }
    input {
        width: 75vw;
        height: 2.2vw;
        min-height: 10px;
        font-size: 1.5vw;
        margin: 3px;
    }
    .addNewCardButt {
        width: 75vw;
    }
    .newCardButt {
        font-size: 1.5vw;
    }
    .saveButt,
    .deleteButt,
    .saveNewButt,
    .saveNewCardButt,
    .addNewCardButt {
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 1.5vw;
    }
    .newCardHeader {
        padding-bottom: 10px;
        font-size: 2vw;
    }
}

/* Extra Large Desktop */

@media only screen and (min-width: 1500px) {
    .editWrapper {
        padding: 20px;
        padding-top: 10px;
    }
    .editForm {
        margin-bottom: 20px;
        font-size: 1vw;
        padding: 20px;
    }
    .qAndAHeader,
    .titleHeader {
        font-size: 1.6vw;
        padding: 20px;
    }
    input {
        width: 75vw;
        height: 2.2vw;
        min-height: 10px;
        font-size: 1vw;
        margin: 3px;
    }
    .addNewCardButt {
        width: 75vw;
    }
    .newCardButt {
        font-size: 1.5vw;
    }
    .saveButt,
    .deleteButt,
    .saveNewButt,
    .saveNewCardButt,
    .addNewCardButt {
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 1vw;
    }
    .newCardHeader {
        padding-bottom: 10px;
        font-size: 1.6vw;
    }
}