.newWrapper {
    display: flex;
    flex: 2;
    justify-content: center;
    align-content: center;
    padding: 40px;
    width: 100vw;
}

.newTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    color: black;
    font-weight: 600;
    font-size: 1.4em;
}

.newTitle::placeholder {
 color: dimgray;
}

.newTitle:focus {
    outline: none;
    border-color: #F7B733;
    box-shadow: 0 0 10px rgb(83, 63, 22);
}

.saveNewButt {
    margin-top: 20px;
}

/* -------------------------------------------------------------------- */

/* Large Mobile / Portrait Tablet */

@media only screen and (min-width: 600px) {
    .newWrapper {
        padding: 40px;
       }
    .newTitle {
        height: 10vw;
        font-size: 5.5vw;
    }
    
    .saveNewButt {
        font-size: 3.5vw;
    }
}

/* Tablet */

@media only screen and (min-width: 768px) {
    .newWrapper {
        padding: 45px;
       }
    .newTitle {
        height: 8vw;
        font-size: 4vw;
    }
    
    .saveNewButt {
        font-size: 2.8vw;
    }
}

/* Laptop/Desktop */

@media only screen and (min-width: 992px) {
    .newWrapper {
        padding: 55px;
       }
    .newTitle {
        height: 6.5vw;
        font-size: 4vw;
    }
    
    .saveNewButt {
        font-size: 2vw;
    }
}

/* Large Desktop */

@media only screen and (min-width: 1200px) {
    .newWrapper {
        padding: 60px;
       }
    .newTitle {
        height: 5vw;
        font-size: 3vw;
    }
    
    .saveNewButt {
        font-size: 1.5vw;
    }
}

/* Extra Large Desktop */

@media only screen and (min-width: 1500px) {
    .newWrapper {
        padding: 70px;
       }
    .newTitle {
        height: 4vw;
        font-size: 2.5vw;
    }
    
    .saveNewButt {
        font-size: 1.2vw;
    }
}