.homeWrapper {
    grid-area: cnt;
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: center;
    background: whitesmoke;
    list-style: none;
    width: 100vw;
}

.homeHeader {
    text-align: center;
    padding-top: 20px;
    font-style: italic;
    font-weight: 600;
}

.homeUl {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homeUl .homeLi {
    height: auto;
    overflow: hidden;
    display: block;
    text-decoration: none;
    color: whitesmoke;
    background-image: linear-gradient(to right, #F7B733 50%, #4ABDAC 50%);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    cursor: pointer;
    width: 90vw;
}

.homeUl .homeLi:hover {
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    background-position: bottom left;
}

.homeLi {
    margin-bottom: 2vw;
}

/* Small Mobile*/

@media only screen and (max-width: 600px) {
    .homeHeader {
        font-size: 3.5vw;
    }
    .homeUl .homeLi {
        padding: 1.5vw 3vw 1.5vw 6vw;
    }
    .homeUl .homeLi:hover {
        padding: 10px;
    }
    .homeLi {
        font-size: 4.5vw;
    }
}

/* Large Mobile / Portrait Tablet */

@media only screen and (min-width: 600px) {
    .homeWrapper {
        padding: 3vw;
        padding-right: 5vw;
    }
    .homeHeader {
        font-size: 3vw;
        padding: 1vw;
    }
    .homeUl .homeLi {
        padding: 1vw 2vw 1vw 6vw;
    }
    .homeUl .homeLi:hover {
        padding: 10px;
    }
    .homeLi {
        font-size: 4vw;
    }
}

/* Tablet */

@media only screen and (min-width: 768px) {
    .homeHeader {
        font-size: 2.7vw;
        margin-top: -25px;
    }
    .homeUl {
        margin: 0;
        padding: 1vw;
    }
    .homeUl .homeLi {
        padding: .5vw 2vw .5vw 6vw;
    }
    .homeUl .homeLi:hover {
        padding: 10px;
    }
    .homeLi {
        font-size: 3vw;
    }
}

/* Laptop/Desktop */

@media only screen and (min-width: 992px) {
    .homeWrapper {
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .homeHeader {
        font-size: 2.7vw;
        padding: .5vw;
    }
    .homeUl .homeLi {
        padding: .8vw 1.8vw .8vw 4.5vw;
    }
    .homeUl .homeLi:hover {
        padding: 10px;
    }
}

/* Large Desktop */

@media only screen and (min-width: 1200px) {
    .homeWrapper {
        padding-left: 15vw;
        padding-right: 15vw;
    }
    .homeHeader {
        font-size: 2.3vw;
        padding: 0;
    }
    .homeUl .homeLi {
        padding: .5vw 1.5vw .5vw 3vw;
    }
    .homeUl .homeLi:hover {
        padding: 10px;
    }
}

/* Extra Large Desktop */

@media only screen and (min-width: 1500px) {
    .homeWrapper {
        padding-left: 15vw;
        padding-right: 15vw;
    }
    .homeHeader {
        font-size: 2vw;
        margin-top: -3.5vw;
    }
    .homeUl .homeLi {
        padding: .5vw 1.5vw .5vw 2.5vw;
    }
    .homeUl .homeLi:hover {
        padding: 10px;
    }
}