.homeWrapper {
    grid-area: cnt;
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: center;
    background: whitesmoke;
    list-style: none;
    overflow: scroll;
}

.homeContainer {
    width: 90vw;
}

.homeHeader {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: 600;
    font-size: 1.1em;
}

.homeUl {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homeUl .homeLi {
    height: auto;
    text-decoration: none;
    color: whitesmoke;
    background-image: linear-gradient(to right, #F7B733 50%, #4ABDAC 50%);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    cursor: pointer;
    height: auto;
    overflow: visible;
    padding: 12px 12px 12px 25px;
}

.homeUl .homeLi:hover {
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    background-position: bottom left;
    padding: 10px;
}

.homeLi {
    margin-bottom: .5em;
    font-size: 1.25em;
}

@media only screen and (max-height: 675px) {
    .headerContainer {
        display: flex;
        flex-direction: row;
    }
}

/* Large Mobile / Portrait Tablet */

@media only screen and (min-width: 600px) {
    .homeHeader {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1.5em;
    }
    .homeLi {
        font-size: 1.7em;
    }
}

/* Tablet */

@media only screen and (min-width: 768px) {
    .homeHeader {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1.5em;
    }
    .homeLi {
        font-size: 1.7em;
    }
}

/* Laptop/Desktop */

@media only screen and (min-width: 992px) {
    .homeContainer {
        width: 80vw;
    }
    .homeHeader {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1.5em;
    }
    .homeLi {
        font-size: 1.7em;
    }
}

/* Large Desktop */

@media only screen and (min-width: 1200px) {
    .homeContainer {
        width: 75vw;
    }
    .homeHeader {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1.5em;
    }
    .homeLi {
        font-size: 1.7em;
    }
}

/* Extra Large Desktop */

@media only screen and (min-width: 1500px) {
    .homeContainer {
        width: 75vw;
    }
    .homeHeader {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1.5em;
    }
    .homeLi {
        font-size: 1.7em;
    }
}