.managerWrapper {
    grid-area: cnt;
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: center;
    background: whitesmoke;
    list-style: none;
    overflow: scroll;
    padding-bottom: 20px;
}

.managerContainer {
    width: 90vw;
}

.managerHeader {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: 600;
    font-size: 1.1em;
}

.managerUl {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.managerUl .managerLi {
    height: auto;
    text-decoration: none;
    color: whitesmoke;
    background-image: linear-gradient(to right, #F7B733 50%, #4ABDAC 50%);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    cursor: pointer;
    height: auto;
    overflow: visible;
    padding: 12px 12px 12px 25px;
}

.managerUl .managerLi:hover {
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    background-position: bottom left;
    padding: 10px;
}

.managerLi {
    margin-bottom: .5em;
    font-size: 1.25em;
}

.newButt {
    display: inline-block;
    background-image: linear-gradient(to right, #F7B733 50.2%, white 49.9%);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: solid 3.5px #F7B733;
    border-right: solid 3.5px #F7B733;
    border-bottom: solid 3.5px #F7B733;
    font-weight: 500;
    color: #F7B733;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 1.3em;
}

.newButt:hover {
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    transform: translateY(2px);
    color: white;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    background-position: bottom left;
}

/* Large Mobile / Portrait Tablet */

@media only screen and (min-width: 600px) {
    .managerHeader {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1.5em;
    }
    .managerLi {
        font-size: 1.7em;
    }
    .newButt {
        font-size: 1.5em;
    }
}

/* Tablet */

@media only screen and (min-width: 768px) {
    .managerHeader {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1.5em;
    }
    .managerLi {
        font-size: 1.7em;
    }
    .newButt {
        font-size: 1.5em;
    }
}

/* Laptop/Desktop */

@media only screen and (min-width: 992px) {
    .managerContainer {
        width: 80vw;
    }
    .managerHeader {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1.5em;
    }
    .managerLi {
        font-size: 1.7em;
    }
}

/* Large Desktop */

@media only screen and (min-width: 1200px) {
    .managerContainer {
        width: 75vw;
    }
    .managerHeader {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1.5em;
    }
    .managerLi {
        font-size: 1.7em;
    }
}

/* Extra Large Desktop */

@media only screen and (min-width: 1500px) {
    .managerContainer {
        width: 75vw;
    }
    .managerHeader {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1.5em;
    }
    .managerLi {
        font-size: 1.7em;
    }
}