.managerWrapper {
    grid-area: cnt;
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: center;
    background: whitesmoke;
    list-style: none;
    width: 100vw;
}

.managerHeader {
    font-style: italic;
    font-weight: 600;
    text-align: center;
}

.managerUl {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.managerUl .managerLi {
    height: auto;
    overflow: hidden;
    display: block;
    /* margin: 0 auto; */
    text-decoration: none;
    color: whitesmoke;
    background-image: linear-gradient(to right, #F7B733 50%, #4ABDAC 50%);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    cursor: pointer;
    width: 90vw;
}

.managerUl .managerLi:hover {
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    background-position: bottom left;
}

.managerLi {
    margin: 1vw;
}

.newButt {
    display: inline-block;
    background-image: linear-gradient(to right, #F7B733 50.2%, white 49.9%);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid 3.5px #F7B733;
    font-weight: 600;
    color: #F7B733;
   
}

.newButt:hover {
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    transform: translateY(2px);
    color: white;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    background-position: bottom left;
}

/* Small Mobile*/

@media only screen and (max-width: 600px) {
    .managerWrapper {
        padding: 4vw;
    }
    .managerHeader {
        font-size: 3vw;
        padding: 1vw;
    }
    .managerUl .managerLi {
        padding: 1.5vw 3vw 1.5vw 6vw;
    }
    .managerUl .managerLi:hover {
        padding: 10px;
    }
    .managerLi {
        font-size: 4.5vw;
    }
    .newButt {
        font-size: 3.5vw;
        margin-top: 2vw;
    }
}

/* Large Mobile / Portrait Tablet */

@media only screen and (min-width: 600px) {
    .managerWrapper {
        padding: 3vw;
        padding-right: 5vw;
    }
    .managerHeader {
        font-size: 3vw;
        padding: 1vw;
    }
    .managerUl .managerLi {
        padding: 1vw 2vw 1vw 6vw;
    }
    .managerUl .managerLi:hover {
        padding: 10px;
    }
    .managerLi {
        font-size: 4vw;
    }
    .newButt {
        font-size: 3.3vw;
        margin-top: 2vw;
    }
}

/* Tablet */

@media only screen and (min-width: 768px) {
    .managerWrapper {
        padding: 6vw;
    }
    .managerHeader {
        font-size: 2.7vw;
        margin-top: -25px;
    }
    .managerUl {
        margin: 0;
        padding: 1vw;
    }
    .managerUl .managerLi {
        padding: 1vw 2vw 1vw 6vw;
    }
    .managerUl .managerLi:hover {
        padding: 10px;
    }
    .managerLi {
        font-size: 4vw;
    }
    .newButt {
        font-size: 2.5vw;
        margin-top: 1.5vw;
    }
}

/* Laptop/Desktop */

@media only screen and (min-width: 992px) {
    .managerWrapper {
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .managerHeader {
        font-size: 2.7vw;
        padding: .5vw;
    }
    .managerUl .managerLi {
        padding: .8vw 1.8vw .8vw 4.5vw;
    }
    .managerUl .managerLi:hover {
        padding: 10px;
    }
    .newButt {
        font-size: 2.5vw;
        margin-top: 1.5vw;
    }
}

/* Large Desktop */

@media only screen and (min-width: 1200px) {
    .managerWrapper {
        padding-left: 15vw;
        padding-right: 15vw;
    }
    .managerHeader {
        font-size: 2.3vw;
        padding: .1vw;
    }
    .managerUl .managerLi {
        padding: .5vw 1.5vw .5vw 3vw;
    }
    .managerUl .managerLi:hover {
        padding: 10px;
    }
    .newButt {
        font-size: 2vw;
        margin-top: 1.8vw;
    }
}

/* Extra Large Desktop */

@media only screen and (min-width: 1500px) {
    .managerWrapper {
        padding-left: 15vw;
        padding-right: 15vw;
    }
    .managerHeader {
        font-size: 2vw;
        margin-top: -3.5vw;
    }
    .managerUl .managerLi {
        padding: .5vw 1.5vw .5vw 2.5vw;
    }
    .managerUl .managerLi:hover {
        padding: 10px;
    }
    .newButt {
        font-size: 1.8vw;
        margin-top: 1.2vw;
    }
}

/* .managerWrapper {
    grid-area: cnt;
    flex: 3;
    background: whitesmoke;
    list-style: none;
    width: 100vw;
}

.new {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newButt {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    border: solid 2px #F7B733;
    font-weight: 600;
    color: #F7B733;
    background-image: linear-gradient(to right, #F7B733 50%, white 50%);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.newButt:hover {
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    transform: translateY(2px);
    font-weight: 800;
    color: white;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    background-position: bottom left;
}

.managerUl {
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.managerUl .managerLi {
    width: 200px;
    height: auto;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: whitesmoke;
    background-image: linear-gradient(to right, #F7B733 50%, #4ABDAC 50%);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    cursor: pointer;
    width: 80vw;
}

.managerUl .managerLi:hover {
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    background-position: bottom left;
}

a {
    color: rgb(250, 244, 225);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 4.5vw;
}

.edit {
    text-decoration: none;
    color: black;
}

/* Small Mobile*/

/* 
@media only screen and (max-width: 600px) {
    .managerWrapper {
        padding: 6vw;
    }
    .managerUl .managerLi {
        padding: 2vw 3vw 2vw 6vw;
    }
    .managerUl .managerLi:hover {
        padding: 10px;
    }
    a {
        font-size: 4.5vw;
    }
    .newButt {
        font-size: 3.5vw;
        margin-top: 2vw;
    }
}  */

/* Large Mobile / Portrait Tablet */

/* @media only screen and (min-width: 600px) {
    .managerWrapper {
        padding: 7vw;
    }
    .managerUl .managerLi {
        padding: 1vw 2vw 1vw 6vw;
    }
    .managerUl .managerLi:hover {
        padding: 10px;
    }
    a {
        font-size: 4vw;
    }
    .newButt {
        font-size: 3.3vw;
        margin-top: 2vw;
    }
} */

/* Tablet */

/* @media only screen and (min-width: 768px) {
    .managerWrapper {
        padding: 5vw;
    }
    .managerUl .managerLi {
        padding: 1vw 2vw 1vw 6vw;
    }
    .managerUl .managerLi:hover {
        padding: 10px;
    }
    a {
        font-size: 2.9vw;
    }
    .newButt {
        font-size: 2.5vw;
        margin-top: 1.5vw;
    }
} */

/* Laptop/Desktop */

/* 
@media only screen and (min-width: 992px) {
    .managerWrapper {
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .managerUl .managerLi {
        padding: .8vw 1.8vw .8vw 4.5vw;
    }
    .managerUl .managerLi:hover {
        padding: 10px;
    }font-size: 2.5vw;
    
    .newButt {
        font-size: 2.5vw;
        margin-top: 1.5vw;
    }
}

/* Large Desktop */

/* @media only screen and (min-width: 1200px) {
    .managerWrapper {
        padding-left: 15vw;
        padding-right: 15vw;
    }
    .managerUl .managerLi {
        padding: .5vw 1.5vw .5vw 3vw;
    }
    .managerUl .managerLi:hover {
        padding: 10px;
    }
    .newButt {
        font-size: 2vw;
        margin-top: 1.8vw;
    }
}  */

/* Extra Large Desktop */

/* 
@media only screen and (min-width: 1500px) {
    .managerWrapper {
        padding-left: 12vw;
        padding-right: 12vw;
    }
    .managerUl .managerLi {
        padding: .5vw 1.5vw .5vw 2.5vw;
    }
    .managerUl .managerLi:hover {
        padding: 10px;
    }
    a {
        font-size: 1.6vw;
    }
    .newButt {
        font-size: 1.8vw;
        margin-top: 1.2vw;
    }
} */